body {
  background-color: white;
  padding: 30px;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.ul-class {
  list-style: none;
  padding-left: 20px;

}

.sally-pic {
  width: 100px;
}

footer {
  margin-top: 12px;
}

@media screen and (min-width: 400px) {
  .sally-pic {
    width: 200px;
  }
}